.already-reg {
    transition: .1s;
    margin: auto;
    display: flex;
    width: 80%;
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    padding: 14px 16px;
    text-shadow: -3px 1px 3px rgb(0 0 0);
    border-radius: 20px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

div.search-container {
    display: flex;
    width: auto;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.already-reg h1 {
    width: fit-content;
    display: flex;
    border: ridge rgb(211 198 181);
    font-weight: bold;
    background: none;
    color: white;
    margin: auto;
    text-align: center;
    text-transform: inherit;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

form.search {
    width: 450px;
    font-size: 20px;
    display: flex;
    margin: 20px auto;
    border-radius: 8%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

.recipe-browse:focus {
    color: #ffffff;
    width: 60%;
    transition: 0.5s;
    border: none;
    outline: none;
    border-bottom: white solid;
    background: none;
    background-image: none;
}

.recipe-browse:not(:focus) {
    transition: 0.5s;
}

input[type=text] {
    background: none;
    outline: none;
    border: none;
    color: #DECBA4;
    font-size: 20px;
    width: 50%;
    display: inline-block;
    border-bottom: solid rgb(117, 117, 117);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 0 4px 4px 4px;
    margin: 15px auto;
    resize: none;
}

div.meal-containter {
    display: flex;
    gap: 1.5rem;
    margin: 15px;
    margin-bottom: 3em;
    padding: 10px;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

span.number-of-likes {
    margin: 20px 10px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    outline: thick white;
    color: #DECBA4;
    text-shadow: #9d9d9d 0px 0px 20px;
    background: #0000006e;
    border-radius: 10px;
    border: ridge rgb(211 198 181);
}

div.meal {
    border: ridge rgb(211 198 181);
    border-radius: 10%;
    display: flex;
    width: 350px;
    height: 445px;
    vertical-align: text-top;
    margin: 10px;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    background-image: linear-gradient(45deg, #00000078, #3e5151);
}

p.name {
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    color: #DECBA4;
    text-overflow: ellipsis;
    max-width: 325px;
    font-size: 20px;
    font-weight: bold;
    margin: 15px auto;
}

p.name:hover {
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    transition: .1s;
    cursor: pointer;
    background: none;
}

div.meal a {
    text-decoration: none;
}

div.meal a.btn {
    font-size: 22.5px;
    background: none;
}

.btn {
    transition: .1s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-weight: bold;
    max-width: max-content;
    margin: 15px 15px;
    margin-bottom: 15px;
    color: #DECBA4;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #00000075;
    border-radius: 10px;
}

.btn:hover {
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    color: #ffffff;
    cursor: pointer;
    border-radius: 35%;
    transition: 0s;
}

.error-container {
    margin: 50px;
    padding: 0px;
    width: inherit;
    word-break: break-word;
    display: flex;
    align-content: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.error-message {
    transition: .1s;
    margin: 40px auto;
    display: block;
    width: fit-content;
    max-width: 100%;
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    padding: 14px 16px;
    text-shadow: -3px 1px 3px rgb(0 0 0);
    border-radius: 20px;
    background-image: linear-gradient(to right, #ff0000, #3E5151);
    border: ridge rgb(211 198 181);
    animation: hide 0s 3.5s;
    animation-fill-mode: forwards;
}


img.meal-image-link,
img.meal {
    margin: 5px 5px 5px 5px;
    border: none;
    border-radius: 10%;
    display: inline-block;
    height: 200px;
    width: 200px;
    transform: scale3d(0.95, 0.95, 0.95);
}

a.meal-image-link:hover,
a img.meal:hover {
    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    transition: .1s;
    cursor: pointer;
}

.to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    border: 1px solid grey;
    background-image: linear-gradient(to top, #b7a685, #3e5151);
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
    font-size: 2.2em;
}