/* THIS WILL BE VERY SHORT, JUST NEED TO IMPORT THE REMAINING CSS INTO MODULES */

@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import url('./ResetCSS.css');
html {
    font-size: 16px; /* Default base size */
    word-break: break-word;
}

@media only screen and (max-width: 1200px) {
    html {
        font-size: 15px;
        word-break: break-word;
    }
}

@media only screen and (max-width: 992px) {
    html {
        font-size: 14px;
        word-break: break-word;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 13px;
        word-break: break-word;
    }
}

@media only screen and (max-width: 576px) {
    html {
        font-size: 12px;
        word-break: break-word;
    }
}

@media only screen and (max-width: 480px) {
    html {
        font-size: 11px;
        word-break: break-word;
    }
}
:root {
    background-image: url('../../public/images/main-background-min.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    font-synthesis: none;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    min-width: 320px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    height: 100vh;
}

.App {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
    background-color: #0000004b;
    backdrop-filter: blur(5px);
    z-index: 99;
    position: relative;
}
.nav-mobile {
    background-color: #0000004b;
    backdrop-filter: blur(5px);
    padding: 1rem;
    z-index: 99;
    position: relative;
}

a.logout-main {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #cc0606;
    font-weight: bold;
    text-shadow: white 0px 0px 20px;
}

a.logout-main:hover {
    text-decoration: overline rgb(255, 95, 95);
    cursor: pointer;
    text-shadow: 0px 0px 20px rgb(255, 45, 45);
    color: rgb(255, 255, 255);
    transition: 0.1s;
}

.front-logo {
    margin-bottom: 25px;
    cursor: pointer;
    border-radius: 5%;
    border: ridge #2b415433;
    size: 30px;
}

.front-logo:hover {
    transition: 0.1s;
    cursor: pointer;
    size: 30px;
}

div.container {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    display: inline-flex;
    align-content: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
