/* THIS WILL BE VERY SHORT, JUST NEED TO IMPORT THE REMAINING CSS INTO MODULES */

@import url(//fonts.googleapis.com/css?family=Open+Sans);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
        /* overflow-x: hidden;
        overflow-y: scroll; */
        overflow-y: overlay;
        overflow-x: overlay;
        font-family: 'Open Sans', sans-serif;
    }
}

body {
    margin: 0 auto;
    width: 100%;
    max-height: 100vh;
    background-image: url("../../public/images/main-background-min.jpg");
}

nav {
    display: flex;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9;
    border-bottom: ridge #DECBA4;
    height: 55px;
    margin-bottom: 15px;
    align-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-items: center;
    list-style: none;
    margin: 10px 45px;
    align-content: center;
    padding: 0px;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.nav-logo {
    z-index: 9;
    left: 5%;
    position: absolute;
    top: 30px;
    height: 50px;
    border: ridge #DECBA4;
    margin: auto;
    border-radius: 50%;
}

.nav-logo:hover {
    transform-style: preserve-3d;
    transition: .1s;
    cursor: pointer;
    display: inline-block;
    border-radius: 20% 0;
}

nav ul li a {
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: bold;
    text-shadow: #000000 -4px 1px 3px;
}

nav ul li a:hover {
    text-decoration: overline white;
    cursor: pointer;
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: .1s;
}

a.logout-main {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #cc0606;
    font-weight: bold;
    text-shadow: white 0px 0px 20px;
}

a.logout-main:hover {
    text-decoration: overline rgb(255, 95, 95);
    cursor: pointer;
    text-shadow: 0px 0px 20px rgb(255, 45, 45);
    color: rgb(255, 255, 255);
    transition: .1s;
}

.front-logo {
    margin-bottom: 25px;
    cursor: pointer;
    border-radius: 5%;
    border: ridge #2b415433;
    size: 30px;
}

.front-logo:hover {
    transition: .1s;
    cursor: pointer;
    size: 30px;
}

div.container {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    display: inline-flex;
    align-content: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}