.table-headers-container{
    display: flex;
    flex-direction: column;
    background-color: #000000cc;
    backdrop-filter: blur(5px);
    width: 75%;
    border-radius: 10px;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
}

.search-container {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.search-nutrients {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
    text-align: center;
    font-weight: bold;
    margin: 10px;
}

.search-nutrients label {
    text-shadow: white 0px 0px 20px;
    margin: 10px auto;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}

.nutrient-name, .nutrient-qty {
    background: none;
    outline: none;
    border: none;
    color: #e88b05;
    font-size: 16px;
    width: 100%;
    border-bottom: solid rgb(117, 117, 117);
    box-sizing: border-box;
    padding: 10px;
    border-radius: 0 4px 4px 4px;
    margin: 10px 0;
}

.nutrient-name:focus, .nutrient-qty:focus {
    color: #ffffff;
    border-bottom: white solid;
}


.btn {
    transition: 0.1s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-weight: bold;
    max-width: max-content;
    margin: 15px 15px;
    padding: 1rem;
    color: #decba4;
    background: #00000075;
    border-radius: 10px;
}

.btn:hover {
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    color: #ffffff;
    cursor: pointer;
    border-radius: 35%;
    transition: 0s;
}

.items-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    width: 60%;
    margin: 0 auto;
    padding: 5rem 0;
}

.product-item {
    padding: 20px;
    background-color: #000000d3;
    border-radius: 10px;
    color: white;
    text-align: center;
    transition: transform 0.3s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.product-item:hover {
    transform: translateY(-10px);
}

.product-name {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.product-nutrition {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.table-headers {
    font-size: 1.5rem;
    color: #e88b05;
    text-align: center;
    margin: 15px auto;
    text-shadow: rgb(211 198 181 / 45%) 0px 0px 20px;
}

.error-container {
    margin: 50px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.error-message {
    margin: 40px auto;
    color: white;
    text-align: center;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 14px 16px;
    background-image: linear-gradient(to right, #ff0000, #3e5151);
    border: ridge rgb(211 198 181);
}

.already-reg-loading {
    display: flex;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    border: ridge rgb(211 198 181);
    padding: 1em;
    width: 35%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.1rem;
}

@media only screen and (max-width: 768px) {
    .product-item {
        font-size: 0.875rem;
        padding: 15px;
    }

    .product-name {
        font-size: 1.1rem;
    }

    .table-headers {
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 576px) {
    .items-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .product-item {
        padding: 10px;
        &:hover {
            transform: translateY(0);
        }
    }

    .product-name {
        font-size: 1rem;
    }

    .product-nutrition {
        font-size: 0.875rem;
    }
}

@media only screen and (max-width: 480px) {
    .search-nutrients {
        font-size: 0.875rem;
    }

    .btn {
        font-size: 0.875rem;
        padding: 0.5rem;
    }

    .product-name {
        font-size: 0.9rem;
    }

    .product-nutrition {
        font-size: 0.875rem;
    }

    .table-headers {
        font-size: 1rem;
    }

    .product-item {
        &:hover {
            transform: translateY(0);
        }
    }

    .already-reg-loading {
        width: 90%;
        font-size: 1rem;
    }
}
