.landing-page-article {
    width: 100%;
    padding: 2rem;
    text-align: center;
}

.landing-page-header {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffffbd;
    margin: auto;
    text-shadow: coral 2px 2px 0px;
    font-size: 4rem;
    color: black;
}

.landing-page-header-mobile {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ffffffbd;
    margin: auto;
    text-shadow: coral 2px 2px 0px;
    font-size: 2rem;
    color: black;
}

.landing-page-header1 {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
    text-shadow: #000000 0px 0px 20px, #000000 2px 4px 20px;
    font-size: 2rem;
    color: #ff9800;
}

.landing-page-header1-mobile {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000000;
    text-shadow: #000000 0px 0px 20px, #000000 2px 4px 20px;
    font-size: 1.5rem;
    color: #ff9800;
}

.second-header {
    background-image: url('../../../public/images/slider-2.png');
    display: flex;
    flex-wrap: wrap;
    column-gap: 5rem;
    row-gap: 2rem;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    padding: 1rem;
    margin-bottom: 5rem;
}

.second-header::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #0000006c;
    position: absolute;
    top: 0;
    left: 0;
}

.second-header-card {
    max-width: 450px;
    z-index: 1;
    box-shadow: 2px 2px 4px 1px grey;
    border-radius: 12px;
    padding: 0.5rem;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
}

.second-header-card-mobile {
    max-width: 100%;
    padding: 1rem;
    box-shadow: 2px 2px 4px 1px grey;
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.1);
}

.error-container {
    margin: 50px;
    padding: 0px;
    width: inherit;
    word-break: break-word;
    display: flex;
    align-content: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.error-message {
    transition: 0.1s;
    margin: 40px auto;
    display: block;
    width: fit-content;
    max-width: 100%;
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    padding: 14px 16px;
    text-shadow: -3px 1px 3px rgb(0 0 0);
    border-radius: 20px;
    background-image: linear-gradient(to right, #ff0000, #3e5151);
    border: ridge rgb(211 198 181);
    animation: hide 0s 3.5s;
    animation-fill-mode: forwards;
}

.btn {
    transition: 0.1s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-weight: bold;
    max-width: max-content;
    margin: 15px 15px;
    margin-bottom: 15px;
    padding: 1rem;
    color: #decba4;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #00000075;
    border-radius: 10px;
}

.btn:hover {
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    color: #ffffff;
    cursor: pointer;
    transition: 0.1s;
}

@media (max-width: 768px) {
    .landing-page-header {
        font-size: 3rem;
    }

    .landing-page-header1 {
        font-size: 1.8rem;
    }

    .btn {
        padding: 0.8rem;
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .landing-page-header {
        font-size: 2.5rem;
    }

    .landing-page-header1 {
        font-size: 1.5rem;
    }

    .second-header-card {
        max-width: 100%;
        padding: 1rem;
    }

    .btn {
        padding: 0.8rem;
        font-size: 1rem;
    }
}
