.landing-page-article {
    width: 100%;

}

.landing-page-section {
    margin-left: 35%
}

.landing-page-article div {
    background-image: url(../../../public/images/spaghetti-with-pesto-prawns-served-plate.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 4.5em auto 4.7em auto;
    height: 30em;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.landing-page-header {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #cc4900bd;
    margin: auto;
    text-shadow: #cdbc98 2px 3px 2px;
    font-size: 4em;
}

.landing-page-span {
    text-align: left;
    text-shadow: #000000 -15px 0px 6px;
    color: white;
    font-size: 30px;
}

.error-container {
    margin: 50px;
    padding: 0px;
    width: inherit;
    word-break: break-word;
    display: flex;
    align-content: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.error-message {
    transition: .1s;
    margin: 40px auto;
    display: block;
    width: fit-content;
    max-width: 100%;
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    padding: 14px 16px;
    text-shadow: -3px 1px 3px rgb(0 0 0);
    border-radius: 20px;
    background-image: linear-gradient(to right, #ff0000, #3E5151);
    border: ridge rgb(211 198 181);
    animation: hide 0s 3.5s;
    animation-fill-mode: forwards;
}

.btn {
    transition: .1s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-weight: bold;
    max-width: max-content;
    margin: 15px 15px;
    margin-bottom: 15px;
    padding: 1rem;
    color: #DECBA4;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #00000075;
    border-radius: 10px;
}

.btn:hover {
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    color: #ffffff;
    cursor: pointer;
    transition: 0.1s;
}