html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

body {
    margin: 0;
    min-width: 350px;
    max-width: 100%;
    min-height: 100%;
    /* list-style: none; */
    background-image: url("../images/main-background.jpg");
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav {
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 9;
    border-bottom: ridge #DECBA4;
    height: 55px;
    margin-bottom: 15px;
}

nav ul {
    /* display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-items: center;
    list-style: none;
    margin: 11px 0px 5px 0px;
    align-content: center;
    padding: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: row; */

    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-items: center;
    list-style: none;
    margin: 10px 25px;
    align-content: center;
    padding: 0px;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.nav-logo {
    z-index: 9;
    left: 5%;
    position: absolute;
    height: 50px;
    margin: auto;
    transform: scale3d(1, 1, 1);
    border-radius: 50%;
}

.nav-logo:hover {
    transform: translate3d(0px, 0px, 0px) scale3d(1.1, 1.1, 1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    transition: .1s;
    cursor: pointer;
    display: inline-block;
    border-radius: 20% 0;
}

nav ul li a {
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-text-stroke: 1.5px #000000;
    color: #ffffff;
    font-weight: bold;
    text-shadow: black 0px 0px 20px;
}

nav ul li a:hover {
    text-decoration: overline white;
    cursor: pointer;
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    transition: .1s;
}

a.logout-main {
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-text-stroke: 1.5px #000000;
    color: #ffffff;
    font-weight: bold;
    text-shadow: black 0px 0px 20px;
}

a.logout-main:hover {
    text-decoration: overline rgb(255, 95, 95);
    cursor: pointer;
    text-shadow: 0px 0px 20px rgb(255, 45, 45);
    color: rgb(255, 255, 255);
    transition: .1s;
}

.title {
    width: 50%;
    border-radius: 20%;
    border: ridge rgb(211 198 181);
    border-width: 2px;
    color: black;
    margin: 2px auto;
}

.front-logo {
    margin-bottom: 25px;
    cursor: pointer;
    border-radius: 5%;
    border: ridge #2b415433;

    size: 30px;
}

.front-logo:hover {
    transition: .1s;
    cursor: pointer;
    size: 30px;
}

div.container {
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    display: inline-flex;
    align-content: center;
    justify-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.already-reg-error {
    font-size: 20px;
    color: red;
    animation: hideAnimation 0s ease-in 5s;
    animation-fill-mode: forwards;
}

@keyframes hideAnimation {
    to {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

.landing-page-article {
    width: 100%;

}

.landing-page-section {
    margin-left: 35%
}

.landing-page-article div {
    background-image: url(../images/spaghetti-with-pesto-prawns-served-plate.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 10em auto 10em auto;
    height: 30em;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.landing-page-header {
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #cc4900bd;
    margin: auto;
    text-shadow: #cdbc98 1px 2px 6px;
    font-size: 4em;
}

.landing-page-span {
    text-align: left;
    text-shadow: #000000 -15px 0px 6px;
    color: white;
    font-size: 30px;
}



section.already-reg {
    transition: .1s;
    margin: 5px;
    display: inline-flex;
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    padding: 14px 16px;
    text-shadow: -3px 1px 3px rgb(0 0 0);
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

h1.meal-name {
    font-weight: bold;
    color: #ffffff;
    text-shadow: #DECBA4 0px 0px 20px;
    text-transform: uppercase;
}

.welcome-note {
    max-width: fit-content;
    color: #1a0c03;
    background-color: rgb(216, 208, 198);
    text-transform: none;
    text-align: justify;
    padding: 5px;
    text-decoration: solid;
}

.profile-name {
    font-size: 20px;
    text-decoration: underline white;
    -webkit-text-stroke: 1.5px #000000;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
    text-shadow: black 0px 0px 20px;
}

.profile-name:hover {
    cursor: pointer;
    text-shadow: 0px 0px 20px #ffffff;
    text-decoration: none;
}

img.logo {
    width: 80px;
    height: 80px;
    padding: 1em;
    float: left;
}

img.meal {
    margin: 5px 5px 5px 5px;
    border-radius: 30%;
    display: inline-block;
    height: 200px;
    width: 200px;
    transform: scale3d(1, 1, 1);
}

img.meal:hover {
    transform: translate3d(0px, 0px, 0px) scale3d(1.1, 1.1, 1.1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    transform-style: preserve-3d;
    transition: .1s;
    cursor: pointer;
    display: inline-block;
    border-radius: 20% 0;
}

div.meal-containter {
    display: flex;
    gap: 1.5rem;
    margin: 10px auto;
    padding: 10px;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

div.meal {
    border: ridge rgb(211 198 181);
    border-radius: 10%;
    display: flex;
    width: 350px;
    height: min-content;
    vertical-align: text-top;
    margin: 10px;
    color: white;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

div.meal a {
    font-size: 22.5px;
}

p.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    font-size: 17.5px;
    font-weight: bold;
    margin: 9px 10px 20px 10px;
}

p.name:hover {
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    transition: .1s;
    cursor: pointer;
}

p.recipe {
    text-align: justify;
    font-size: medium;
    font-weight: bold;
    text-transform: none;
    padding: 2px;
    border-bottom: 5px solid #2b415433;
}

.btn {
    transition: .1s;
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    width: max-content;
    margin: 15px 15px;
    margin-bottom: 15px;
    color: #DECBA4;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.btn:hover {
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    color: #ffffff;
    cursor: pointer;
    border-radius: 35%;
    transition: 0s;
}

a {
    word-break: break-word;
    transition: .1s;
    color: #DECBA4;
    text-transform: uppercase;
    text-align: left;
}

div.details {
    display: flex;
    color: white;
    text-shadow: 0px 0px 20px rgb(255 255 255);
    border: ridge rgb(211 198 181);
    margin: auto;
    padding: 1em;
    width: max-content;
    border-radius: 5%;
    word-wrap: break-word;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

article.recipe-details {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    text-shadow: 0px 0px 20px rgb(255 255 255);
    border-radius: 5%;
    border: ridge rgb(211 198 181);
    font-size: 15px;
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 15px;
    word-break: break-all;
}

span {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 5px;
}

.recipe-details label {
    position: static;
    text-decoration: underline;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

div.search-container {
    display: flex;
    width: auto;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

div.about {
    align-items: center;
    justify-items: center;
    justify-content: center;
    position: inherit;
    border-radius: 10%;
    font-size: 25px;
    display: block;
    margin: auto;
    border: ridge rgb(211 198 181);
    background-color: rgb(172, 149, 116);
    padding: 1em;
}

.about-me-table {
    padding: 13px 13px 13px 13px;
    margin-bottom: 4em;
    border: solid #DECBA4;
    border-radius: 10px;
}

.already-reg a {
    display: flex;
    width: max-content;
    margin: auto;
    transition: .1s;
    color: #DECBA4;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

div.already-reg a:hover {

    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    color: #ffffff;
    transition: .1s;
    text-decoration: underline;
}

.register-form,
.login-form {
    transition: .1s;
    margin: auto;
    display: flex;
    width: 80%;
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    padding: 14px 16px;
    text-shadow: -3px 1px 3px rgb(0 0 0);
    border-radius: 20px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.form label {
    margin-left: 15px;
    width: max-content;
    color: #ffffff;
    text-decoration: underline;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 10px;
    text-shadow: 0px 0px 20px #decba4;
}

input[type=text],
input[type=number],
input[type=url],
input[type=password] {
    background: none;
    color: #DECBA4;
    font-size: 20px;
    width: 100%;
    display: inline-block;
    border: ridge rgb(211 198 181);
    box-sizing: border-box;
    padding: 12px 20px 12px 12px;
    border-radius: 0 4px 4px 4px;
    margin: 8px 0 2em;
    resize: none;
}

.email:focus,
.password:focus,
.rePassword:focus {
    background-image: linear-gradient(to right, #DECBA4, #3E5151);
    color: #000000;
}

::placeholder {
    color: #ffffff;
}

.add-recipe-text {
    background: none;
    color: #DECBA4;
    font-size: 20px;
    width: 100%;
    display: inline-block;
    border: ridge rgb(211 198 181);
    box-sizing: border-box;
    padding: 12px 20px 12px 12px;
    border-radius: 0 4px 4px 4px;
    margin: 8px 0 2em;
    resize: vertical;
}

.add-recipe-text:focus {
    background: #0000008c;
}

input.search {
    border: ridge rgb(211 198 181);
    width: 50%;
}

input[type=button],
input[type=submit] {
    transition: .1s;
    margin: 5px;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    padding: 14px 50px;
    text-shadow: -3px 1px 3px rgb(0, 0, 0);
    border-radius: 20px;
    background-image: linear-gradient(to right, #DECBA4, #3E5151);
    border: ridge rgb(211 198 181);
}

input[type=button]:hover,
input[type=submit]:hover {
    cursor: pointer;
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    color: #ffffff;
    transition: .1s;
}

form.search {
    font-size: 20px;
    display: flex;
    margin: 20px auto;
    border-radius: 8%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}


.add-form {
    font-size: 20px;
    display: flex;
    padding: 20px;
    max-width: 50%;
    margin: 20px auto;
    border-radius: 8%;
    border: ridge rgb(211 198 181);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    color: white;
}


h3 a {
    color: #DECBA4;
    font-size: 20px;
    text-align: center;
    /* text-shadow: -3px 1px 3px rgb(0, 0, 0); */
}

.already-reg a:hover {
    cursor: pointer;
    border-radius: 35%;
    transition: .1s;
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    color: #ffffff;
}

.already-reg {
    transition: .1s;
    margin: auto;
    display: flex;
    width: 80%;
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    padding: 14px 16px;
    text-shadow: -3px 1px 3px rgb(0 0 0);
    border-radius: 20px;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.already-reg h1 {
    width: fit-content;
    display: flex;
    border: ridge rgb(211 198 181);
    font-weight: bold;
    background: none;
    color: white;
    margin: auto;
    text-align: center;
    text-transform: inherit;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

h4 {
    border-radius: 50%;
    /* text-shadow: -3px 1px 3px rgb(240 203 123); */
    font-size: 25px;
    text-align: center;
}

.footer {
    display: flex;
    position: fixed;
    padding: 5px 5px 5px 5px;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 55px;
    color: #ffffff;
    text-shadow: 0px 0px 20px #ffffff;
    font-size: 14px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #DECBA4, #3e515100);
}

.footer p {
    margin: 10px 10px 0px 10px;
    text-shadow: #000000 -3px 2px 10px;
}

.btn-footer {
    margin: 10px 10px 0px 10px;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: #000000 -8px 2px 10px;
    text-decoration: none;
}

.btn-footer:hover {
    color: #000000;
    text-shadow: #ffffff 0px 0px 20px;
}

.btn-footer-created-by {
    margin: 10px 10px 0px 0px;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: #000000 -3px 2px 10px;
    text-decoration: underline;
}

.btn-footer-created-by:hover {
    cursor: pointer;
    margin: 10px 10px 0px 0px;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
    text-shadow: #ffffff -3px 2px 10px;
    text-decoration: underline;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    height: 60px;
    color: #ffffff;
    text-shadow: 0px 0px 20px #ffffff;
    background-image: linear-gradient(to bottom, #DECBA4, #3e515100);
}

.wrapper {
    margin: auto;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.content {
    border-radius: 10%;
    border: ridge rgb(211 198 181);
    padding: 5px;
    vertical-align: middle;
    text-align: center;
    width: 60%;
    word-break: normal;
    background-color: rgb(172, 149, 116);
}

.already-reg img {
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
    display: inline-block;
    transition: .1s;
    text-shadow: -3px 1px 3px rgb(240 203 123);
    text-decoration: underline;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: left;
    border-radius: 50%;
}

.already-reg img:hover {
    cursor: pointer;
    display: flex;
    /* transition: .1s; */
    text-shadow: -3px 1px 3px rgb(240 203 123);
    border-radius: 30%;
}

.about a {

    font-size: 25px;
    border-radius: 50%;
}

.about a:hover {
    cursor: pointer;
    transition: .1s;
    cursor: pointer;
    text-decoration: underline;
    background: rgb(240, 203, 123);
    background-clip: content-box;
    border-radius: 20%;
}

.error-message {
    transition: .1s;
    margin: 5px;
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    padding: 14px 16px;
    text-shadow: -3px 1px 3px rgb(0, 0, 0);
    border-radius: 20px;
    background-image: linear-gradient(to right, #ff0000, #3E5151);
    border: ridge rgb(211 198 181);
}