/* h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li,
small {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
} */


nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul {
    width: fit-content;
    position: sticky;
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    color: rgb(255, 255, 255);
    float: left;
    display: inline;
}

nav ul li a {
    transition: .1s;
    margin: 5px;
    display: block;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    padding: 7px 7px;
    text-shadow: 0px 0px 20px #2b4154;
    border-radius: 20px;
    /* background-image: linear-gradient(to right, #DECBA4, #3E5151); */
    border: ridge rgb(211 198 181);
}



.logout {

    transition: .1s;
    margin: 5px;
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    text-shadow: -3px 1px 3px rgb(255, 255, 255);
    border-radius: 20px;
    background-image: linear-gradient(to right, #ff0000, #3E5151);
    border: ridge rgb(211 198 181);
}

.logout:hover {
    transition: .1s;
    margin: 5px;
    display: block;
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    text-shadow: -3px 1px 3px rgb(255, 255, 255);
    border-radius: 35%;
    background-image: linear-gradient(to right, #ff0000, #3E5151);
    border: ridge rgb(255, 0, 0);
}

/* nav ul li a {
    font-size: 20px;
    text-align: center;
    padding: 8px 0;
    display: block;
    width: 100%;
    background: rgb(177, 163, 142);
} */

nav ul li a:hover {
    text-shadow: -3px 1px 3px rgb(255, 255, 255);
    border-radius: 35%;
    color: rgb(255, 255, 255);
    transition: .1s;
    text-decoration: none;
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
}

nav ul li:first-child a {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

nav ul li:last-child a {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}