.active-element {
    text-decoration: overline white;
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.profile-name-active {
    font-size: 22.5px;
    text-decoration: overline white;
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    -webkit-text-stroke: 1.5px #000000;
    color: #ffffff;
    font-weight: bold;
    padding: 5px 5px 5px 5px;
}