.active-element {
    text-decoration: overline white;
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.profile-name-active {
    font-size: 20px;
    text-decoration: overline white;
    /* -webkit-text-stroke: 1.5px #000000; */
    color: #000000;
    font-weight: bold;
    padding: 5px;
    text-shadow: white 0px 0px 20px;
}

.dropbtn {
    width: max-content;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    text-shadow: #ffffff 0px 0px 20px;
    background: none;
    border: none;
}


.dropdown {
    top: -2px;
    left: 90px;
    position: relative;
    display: inline-block;
}

.content-holder {
    height: 50px;
    display: none;
    position: absolute;
    background: none;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%); */
    z-index: 9;
    padding: 5px;
}

.dropdown-content a {
    margin: 10px 10px;
    padding: 0.5px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    /* -webkit-text-stroke: 0.3px #000000; */
    color: #ffffff;
    font-weight: bold;
    text-shadow: #ffffff 0px 0px 20px;
    border-radius: 5px;
    border-width: 50px;
}

.dropdown-content a:hover {
    background-color: #DECBA4;
    color: #000000;
    text-decoration: none;
}

.dropbtn:hover {
    cursor: pointer;
    color: #ffffff;
}

.dropbtn:hover .content-holder{
    display: block;
    cursor: pointer;
    height: 60px;
    width: max-content;
    background-color: black;
    border-radius: 10px;
}
